.gradient-custom-3 {
  background: rgb(237,145,33) !important;
  background: linear-gradient(360deg, rgba(237,145,33,1) 0%, rgba(236,201,125,1) 100%) !important;
}

.gradient-custom-4 {
  background: rgb(237,145,33) !important;
  background: linear-gradient(360deg, rgba(237,145,33,1) 0%, rgba(236,201,125,1) 100%) !important;
}

.lgn {
  text-align: center !important;
  border: none !important;
  background-size: 300% 100% !important;
  -o-transition: all 0.4s ease-in-out !important;
  -webkit-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
  outline: none !important;
  background-image: linear-gradient(
    to right,
    rgba(237,145,33,1),
    rgba(236,201,125,1),
    rgba(237,145,33,1),
    rgba(236,201,125,1)
  ) !important;
  /* box-shadow: 0 2px 10px 0 rgba(236,201,125,1) !important; */
}
.lgn:hover {
  background-position: 100% 0 !important;
  -o-transition: all 0.4s ease-in-out !important;
  -webkit-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}

.WrapperButton {
  display: flex !important;
  justify-content: center !important;
}