/* .main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  color: #212121;
  flex-direction: column;
} */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}